* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
/*inicio navbar*/


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
  width: 100%;
  z-index: 2;
}
.logo {
  font-size: 1.6rem;
  font-weight: bold;
  
  & span {
    color: #01c7f8dd;
  }
}
.menu-toggle {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
/* overlay mobile */
.menu-overlay{
 position: fixed; 
 top: 0;
 right: 0;
 width: 75%;
 max-width: 300px;
 height: 0;
 background-color: rgba(0, 0, 0, 0.96);
 overflow: hidden;
 transition: height 0.4s ease;
 z-index: 1000;
 padding: 0 20px;
}
.menu-overlay.active {
  height: 100vh;
}
.right-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 0;
  background-color: #003366;
  transition: height 0.5s ease;
}
.right-line.active {
  height: 100%;
}
.nav-links {
  list-style: none;
  margin-top: 80px;
}
.nav-links li {
  margin: 20px 0;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s;
}
.nav-links li a:hover {
  color: #003366;
}

/*Desktop menu*/
.nav-desktop {
  display: none;
}
.nav-desktop li {
  display: inline-block;
  margin-left: 20px;
}
.nav-desktop li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}
.nav-desktop li a:hover {
  color: #003366;
}


/* fim navgbar*/


/*home section*/

.home {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
 gap: 8rem;
}

.home-content {
  text-align: center;
  
  & h1 {
    color: #01c7f8dd;
  }
  & span {
    color: #01c7f8dd;
  }
}    
.home-img {
width: 300px;
height: 300px;
 aspect-ratio: 1;
 position: relative;
 clip-path: polygon(
        50% 0%,
        93% 25%,
        93% 75%,
        50% 100%,
        7% 75%,
        7% 25%
      );
 background: linear-gradient(#363636, #151515) padding-box,
 linear-gradient(45deg, #007BFF, #00BFFF) border-box;
 border: 5px solid transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
 background-size: cover;
    }

.home-img img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 clip-path: inherit;
    }


/*Serviços*/
.service {
  color: #e2d8d8;
  text-align: center;
  
  & span {
    color: #01c7f8dd;
  }
  
  & span {
    color: #01c7f8dd;
  }
}
.icon-svg {
  width: 9%;
  height: 9%;
  display: inline-block;
}
.service-box {
  margin: 15px;
  padding: 10px;
  gap: 3px;
  border-radius: 8px;
  border: 2px solid #3871aa;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  & span {
    color: #01c7f8dd;
  }
}
.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
}
/*fim serviços*/


/*portifolio section*/

.portifoli {
  text-align: center;
  
  & span {
    color: #01c7f8dd;
  }
}

.portifolio-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portifolio-box {
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.portifolio-box img {
  width: 100%;
  height: auto;
}

.portifolio-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  & span {
    color: #01c7f8dd;
  }
}

.portifolio-box:hover .portifolio-layer {
  opacity: 1;
}
.portifoli {
  color: #fff;
  text-align: center;
}
.portifolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.portifolio-box {
  margin: 5px;
  gap: 3px;
  text-align: center;
  border-radius:  5px;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: 1px solid  #000000cb;
}
.portifolio-box>img {
  height: 380px;
  width: 100%;
}
.main-icon {
  margin-top: 10px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
  & a {
    height: auto;
    width: auto;
    color: #171d2da7;
  }
  & .layer-icon {
    height: 50px;
    width: 50px;
    padding: 0px;
    background-color: #53bbdc35;
    border-radius: 5px;
  }  
}
/*fim section portifolio*/


/*inicio contato*/

.contato {
  text-align: center;
  
  & span {
    color: #01c7f8dd;
  }
}
.contato-conte {
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;
}
.input-box {
  margin-bottom: 15px;
}
.input-box>input {
  margin: 5px;
}
.input-box>input,
textarea {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: 2px solid #4f4f4f;
  border-radius: 8px;
  background-color: #282c31;
  font-size: 16px;
}
.input-box>input::placeholder,
:textarea::placeholder {
  color: #7D7D7D;
}
.input-box>input:focus,
textarea:focus {
  border-color: rgba(0, 204, 255, 0.5);;
  outline: none;
}
.button-neon {
  margin-top: 8px;
  text-align: center;
  
  & button {
  background-color: #003366;
  color: #fff; 
  border-radius: 8px;
  height: 35px;
  width: 150px;
  display: inline;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  }
  & button:before  {
    content: '';
    background-color: rgba(41,121,141,0.386);
    z-index: -1;
  }
  & button:hover {
    background-color: rgba(69,197,229,0.52);
  }
}

textarea {
  margin: 5px;
  width: 85%;
}
/*fim contato*/

footer {
  background-color: #000000dd;
  display: grid;
  place-items: center;
  bottom: 0;
  box-shadow: #4e4e4e;
  text-align: center;
}
.social-media {
  display: flex;
  text-align: center;
  gap: 15px;
  margin: 10px;
  & svg {
    height: 40px;
    width: 40px;
    background-color: #2f3031;
    border: 0.5px solid #60606035;
    border-radius: 8px;
  }
}
.aboutif {
  & p {
    color: #d3dae1;
  }
}
/*Responsividade*/
@media (min-width: 768px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .home-content {
    text-align: left;
    margin-top: 20px;
  }

  .service-container {
    flex-flow: row;
    justify-content: space-between;
  }
  .service-box {
    width: 30%;
  }
  .portifolio-container {
    flex-flow: row;
    justify-content: space-between;
  }
  .portifolio-box {
    width: 35%;
  }
  .home-img  {
    width: 600px;
    height: 300px;
  }

}
@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
  .menu-overlay {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-desktop {
    display: none;
  }
}

